.button {
    background-color: #555;
    height: 2.5rem;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid;
    transition: 0.2s;
    margin-left: 1rem;

}

.button:hover {
    background-color: #444;

}